.modules-page {
	.hero-banner {
		margin-bottom: 0;
	}
	.text-and-image-overflow {
		padding-top: 0;
	}
	.about-me-skills {
		h2 {
			color: hubl("$main_font_color");
			font-size: 40px;
			font-weight: 200;
			text-transform: none;
			margin-top: 60px;
			span {
				letter-spacing: 3px;
			}
		}
		.text-block {
			background-color: #fff;
			h3 {
				font-size: 31px;
				color: hubl("$main_font_color");
				font-weight: 200;
			}
			.text-block-content {
				margin-top: 0;
				p {
					color: hubl("$main_font_color");
				}
			}
		}
		.wrapper-bars {
			margin-top: 0;
			h3 {
				font-size: 31px;
				font-weight: 200;
			}
		}
	}
	.features-mocup-section {
		padding-bottom: 30px;
	}
	.pricing-main-section {
		background: #fff url('//cdn2.hubspot.net/hubfs/685080/IMG-TurboSodium/Sodium%20v2/pricing-container-background.png') center bottom no-repeat;
		.pricing-box__container {
			.widget-span {
				.hs_cos_wrapper_widget_container {
					padding-top: 100px;					
				}
			}
		}
	}
	.pricing-section-header {
		text-align: center;
        max-width: 1000px;
        margin: 0 auto;
        .widget-type-rich_text{
            text-align:center;
        }
		h2 {
			color: hubl("$main_font_color");
			font-weight: 300;
			font-size: 40px;
			text-transform: none;
			margin-top: 50px;
			span {
				letter-spacing: 3px;
			}
		}
	}
	.brands-slider {
        .slick-dots{
            display: block;
            // left: 50%;
            // -webkit-transform: translateX(-50%);
            // -ms-transform: translateX(-50%);
            // transform: translateX(-50%);
            left:0;

        }
        //&.slick-slider {
        //	margin-bottom: 0;
        //}
        
        .slick-list{
            min-width: 100% !important;
            display:flex;
            justify-content:center;
            margin: 0!important;
            
        }
        .slick-arrow{
            display:none!important;
        }
        button.slick-prev.slick-arrow + div.slick-list{
            display:block;
        }
	}
	.span7 {
		.widget-type-form {
			.hs-error-msgs a {
				font-size: 18px;
				color: #fff;
			}
		}
	}
}