.pricing{
	/*.hero-banner {
		height: 500px;
		background-size: cover;
		display: flex;
		justfiy-content: center;
		align-items: center;
		text-align: center;
		color: #fff;
		margin-top: 70px;
		margin-bottom: 0;
		h2 {
			color: #fff;
			font-size: 58px;
			font-weight: 300;
			text-align: center !important;
			text-transform: uppercase;
		}

		p {
			font-size: 23px;
		}
	}*/

	.pricing-section-header {
		text-align: center;
		h2 {
			color: hubl("$main_font_color");
			font-weight: 300;
			font-size: 40px;
			text-transform: none;
			margin-top: 50px;
			span {
				letter-spacing: 3px;
			}
		}
		.widget-type-rich_text > .layout-widget-wrapper > span {
			color: hubl("$main_font_color");
		}
	}
	&.pricing-1, &.pricing-2 {
		.pricing-main-section {
			background: #fff url('//cdn2.hubspot.net/hubfs/685080/IMG-TurboSodium/Sodium%20v2/pricing-container-background.png') center bottom no-repeat;
		}
	}
}


