/* HEADER STYLES */

    header {
        //position: relative;
        .header .perma-fixed {
            background-color: #fff;
            border-bottom: 3px solid #efefef;
        }
    }
    header.header.perma-fixed {
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        .container {
            height: 100%;
            >.span12 {
                height: 100%;
                >.row-fluid-wrapper {
                    height: 100%;
                    >.row-fluid {
                        display: flex;
                        align-items: center;
                        height: 100%;
                        >.span2.widget-span.widget-type-cell {
                            width: 100%;
                        }
                        >.span10.widget-span.widget-type-cell {
                            width: auto;
                            @media (max-width: 400px) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    /* HEADER STYLES END */
    /* FOOTER STYLES */
    .footer-container-wrapper {
        border: none;
        padding: 0;
        .footer {
            &--landing {
                min-height: 220px;
                background-color: #4a4949;
                padding: 0;
            }
            .container {
                position: relative;
            }
            ul {
                text-align: center;
                overflow: auto;
                position: relative;
                left: 50%;
                margin-left: -100px;
                margin-top: 60px;
                max-width: 250px;
                li {
                    list-style-type: none;
                    float: left;
                    a i {
                        background: #fff;
                        color: #4a4949;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        font-size: 25px;
                        text-align: center;
                        margin-right: 10px;
                        padding-top: 15%;
                    }
                }
            }
            .footer-copyright {
                font-size: 18px;
                font-weight: 200;
                font-family: 'Palanquin';
                color: #fff;
                text-align: center;
                margin-top: 30px;
                margin-bottom: 60px;
            }
        }
    }
    /* STICKY FOOTER */
    .body-container-wrapper {
        min-height: calc(100vh - 218px);
        /* Header + footer */
    }
    /* FOOTER STYLES ENDS */
    .features-container {
        margin: 25px 0;
        .hero-banner-form {
            z-index: 1;
            max-width: 430px;
            border-radius: 5px;
            background-color: #f4f4f4;
            padding: 0 30px;
            margin: 0 auto;
            .hs-error-msgs {
                list-style-type: none;
                margin-top: 5px;
                label {
                    font-size: 14px;
                }
            }
            h3 {
                font-family: hubl("$font");
                font-weight: 600;
                font-size: 30px;
                line-height: 40px;
                color: hubl("$main_font_color");
                text-align: center;
                span {
                    color: hubl("$cta_background");
                    margin-left: 2px;
                    position: relative;
                    letter-spacing: 3px;
                }
            }
            .hs-form-field {
                margin-bottom: 20px;
                box-shadow: none;
                .hs-form-required {
                    display: none;
                }
                .input {
                    input {
                        border: none;
                        border-radius: 4px;
                        background-color: #ffffff;
                    }
                    textarea{
                        border-radius:4px;
                    }
                    .hs-input {
                        font-size: 18px;
                        font-family: hubl("$font");
                        font-weight: 200;
                        color: hubl("$main_font_color");
                        height: 55px;
                        border: none;
                        &[id*="dropdown_example"] {
                            color: rgba(98, 98, 98, 0.6);
                            background-color: #fff;
                        }
                    }
                     select {
                            background-color: #fff;
                            outline: 0;
                            font-size: 16px;
                            font-weight: 300;
                            border: solid 1px  #d3d3d3;
                            color: hubl("$main_font_color");   
                            font-family: Palanquin, sans-serif;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;
                            margin-top: 0px;
                            background-image: url('//cdn2.hubspot.net/hubfs/685080/IMG-TurboSodium/Sodium%20v2/angle-down-gray.png');
                            background-repeat: no-repeat;
                            background-position-x: 98%;
                            background-position-y: 56%;
                            width: 100%;
                            height: 55px;
                    }
                }
            }
                // .hs_dropdown_example {
                //     background: white;
                //     border-radius: 4px;
                //     position: relative;
                // &:after {
                //     position: absolute;
                //     font-size: 22px;
                //     content: "\f105";
                //     font-family: "FontAwesome";
                //     color: hubl("$cta_background");
                //     right: 25px;
                //     top: 12px;
                //     width: 7px;
                //     height: 12px;
                // }
               
            .hs-button.primary.large {
                                @extend .cta-primary;
                min-height: 27px;
                min-width: 134px;
                padding-top: 20px;
                padding-bottom: 20px;
                font: 300 22px / 22px hubl("$font");            
                margin-bottom: 20px;
                width: 100%;
                /*
                cursor: pointer;
                background-color: #ffc400;
                border-radius: 4px;
                min-height: 27px;
                min-width: 134px;
                width: 100%;
                text-decoration: none;
                text-transform: uppercase;
                padding-top: 20px;
                padding-bottom: 20px;
                color: #ffffff;
                font: 300 22px / 22px Palanquin;
                transition: linear 0.3s all;
                border: none;
                margin-bottom: 20px;
                &:hover {
                    background-color: #fff;
                    color: #ffc400;
                }*/
            }
        }
    }
    .hs-error-msgs a {
        font-size: 14px;
        color: hubl("$main_font_color");
    }
    .box-white-bg {
        padding: 25px;
        .square-box {
            max-width: 370px;
            background-color: transparent;
            padding: 0;
            h4 {
                text-transform: uppercase;
                color: hubl("$first_color");
                font-size: 24px;
                font-weight: 300;
            }
            p {
                font-size: 16px;
                line-height: 24px;
                color: hubl("$main_font_color");
            }
            .icon {
                i {
                    height: 54px;
                    width: 54px;
                    font-size: 30px;
                    background-color: hubl("$cta_background");
                    border-radius: 50%;
                    padding: 12px;
                    color: hubl("$cta_color");
                }
            }
        }
    }
    @media (max-width: 767px) {
        .square-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 0 auto;
        }
        .features-form {
            .hs-cta-img {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    // nowe media
    @media (max-width: 1024px) {
        .landing-page-v1 .features-container .row-fluid [class*="span"] {
            display: block;
            float: none;
            width: auto;
            margin-left: 0;
        }
        .landing-page-v1 .features-form img {
            display: block;
            margin: 0 auto;
        }
        .landing-page-v1 .features-container .square-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 0 auto;
            width: 100%;
        }
        .landing-page-v1 .features-container .box-white-bg .row-fluid .span6 {
            width: 48.618784527%;
            float: left;
        }
    }
    @media (max-width: 676px) {
        .landing-page-v1 .features-container .box-white-bg .row-fluid .span6 {
            width: 100%;
            float: none;
        }
    }
