/*BLOG LISTING*/

// MENU
.portfolio-menu-wraper{
    background: hubl("$first_color");
    min-height: 85px;
    @media only screen and (max-width : 1055px) {
            
            height: 100%;
        }


    ul.multi-blog{
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: flex-end;
        flex-wrap: wrap;
        min-height: 85px;
        // background-color: pink;
        @media only screen and (max-width : 1024px) {
            flex-wrap: wrap;  
            height: 100%;
        }
        @media only screen and (max-width : 486px) {
            align-items: center;
            flex-direction: column; 
            height: 100%;
        }
        li{
            display: table;
            margin-left: 30px;
            height: 70px;
            background-repeat: no-repeat;
            background-image: none;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            transition: all 0.5s ease;
            // cursor: pointer;
            @media only screen and (max-width : 1024px) {
                margin: 10px 10px; 
                border-radius: 5px;   
            }
            @media only screen and (max-width : 486px) {
                margin: 10px 0px;    
            }
            &:first-child{
               
                a{
                display: table-cell;
                vertical-align: middle;
                padding: 0 55px;
                margin:0;
                &:before{
                    content: ""; 
                    display: none;  
                }
                }
               
            }
            a{
                color: #fff;
                vertical-align: middle;
                display: table-cell;
                position: relative;
                padding-left: 70px;
                &:before{
                    content: "";
                    display: inline-block; 
                    width: 45px;
                    height: 45px;
                    background-repeat: no-repeat;
                    background-position: top;
                    position: absolute;
                    top: 15px;
                    left: 15px;
                                    }
              
                @media only screen and (max-width : 494px) {
                    // padding: 0 10px;
                }
            }
            &:hover{
                background-color: #fff;
                box-shadow: 2px 0px 0px 0px rgba(0,0,0,0.1);
                a{
                color: hubl("$cta_hover_color"); 
                     &:before{
                        background-position: bottom;
                        }
                }
            }
        }
        .active{
            color: hubl("$cta_background"); 
            background-color: #fff;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            box-shadow: 2px 0px 0px 0px rgba(0,0,0,0.1);
            a{
                color: hubl("$cta_hover_color"); 
                &:before{
                    background-position: bottom;
                }
                
            } 
        }
    }
}
// BLOG POST LISTING
.multi-blog-wraper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 78px 0px 15px 0px;
        .multi-blog{
            transition: all 0.5s ease;
            margin: 0px;
            &:nth-child(3n+2){
                margin: 0px 30px;
                @media only screen and (max-width : 1169px) {
                    margin: 0px 15px;
                }
            }
            @media only screen and (max-width : 1169px) {
                margin: 0px 15px;
            }

            
            .content{
                height: 372px;
                width: 360px;
                position: relative;
                overflow: hidden;
                background-size: cover!important;
                background-position: center center;
                background-repeat: no-repeat;
                border-radius:5px;
                box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.1);
                margin-bottom: 37px;
                &:hover{
                    .desc{
                        height: 175px;
                        @media only screen and (max-width : 400px) {
                             height: 200px;
                        }
                    }
                }
                @media only screen and (max-width : 400px) {
                    width: 340px;
                }
                @media only screen and (max-width : 360px) {
                    width: 280px;
                }
                .category{
                    width: 68px;
                    height: 68px;
                    background-color: hubl_rgba("$first_color", 0.8 ); 
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-repeat: no-repeat;
                    background-position: center 15px;
                    &:before{
                        content: "";
                        display: block;
                        width: 45px;
                        height: 45px;
                        background-position: top;
                        margin: 11px auto;
                    }

                }
                .desc{
                    background: hubl("$first_color");
                    padding: 13px 25px;
                    position: absolute;
                    bottom: 0px;
                    height: 100px;
                    transition: height 0.5s ease;
                    @media only screen and (max-width : 400px) {
                         height: 120px;
                    }
                    small{
                        font-size: 13px;
                        color:#fff;
                        margin: 0;
                    }
                    h4{
                        font-size: 18px;
                        color: #fff;
                        font-weight: 500;
                        margin: 10px 0px;
                    }
                    p{
                        font-size: 16px;
                        color: #fff;
                        font-weight: 400;
                        margin: 0;
                    }
                    span{
                        display: block;
                        width: 11px;
                        height: 18px;
                        background: url('//cdn2.hubspot.net/hubfs/685080/IMG-TurboSodium/Sodium%20v2/read-more-white.png');
                        background-position: right;
                        padding-left: 100px;
                        background-repeat: no-repeat;
                        float: right;

                    }
                    &:hover{
                        height: 175px;
                        @media only screen and (max-width : 400px) {
                             height: 200px;
                        }
                    }
                }

            }
        }
   }

// pagination
.multi-blog{
 .pagination {
        width: 100%;
        padding-left: 0px;
        cursor: auto;
        .disabled {
            display: none;
        }
        li {
            display: inline-block;
            background-color: #fff;
            border-radius: 4px;
            a {
                border-radius: 4px;
                overflow: hidden;
                color: hubl("$main_font_color");
                display: block;
                line-height: 22px;
                border: solid 1px #ebebeb;
                height: 27px;
                width: 24px;
                text-align: center;
                font-size: 16px;
                overflow: hidden;
                &:hover {
                    background-color: hubl("$cta_background");
                    border: solid 1px hubl("$cta_background");
                    color: #fff;
                }
            }
            &.active {
                a {
                    background-color: hubl("$cta_background");
                    border: solid 1px hubl("$cta_background");
                    color: #fff;
                }
            }
        }
    }
    .clearfix {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 38px;
    }
}
    






