figure.join-us {
	width: 210px;
	margin: 25px 37px;
	.image-wrapper {
    	border-radius: 50%;
    	overflow: hidden;
	}
	.image {
    	width: 210px;
    	height: 210px;
    	background-size: cover;
    	border-radius: 50%;
    	background-color: white;
    	position: relative;
		overflow: hidden;
	}
	.mask {
    	position: absolute;
    	background: hubl("$cta_background");
    	top: 0;
    	right: 0;
    	left: 0;
   		bottom: 0;
   		border-radius: 50%;
	}
	.main-text {
    	color: #FFF;
    	font-size: 30px;
    	font-weight: 600;
    	position: absolute;
    	left: 50%;
    	transform: translateX(-50%);
    	text-transform: uppercase;
    	white-space: nowrap;
    	top: 26%;
	}
	.sub-text {
    	color: #FFF;
    	font-size: 16px;
    	position: absolute;
    	left: 50%;
    	transform: translateX(-50%);
    	white-space: nowrap;
    	top: 45%;
	}
	a {
		border-radius: 50%;
	}
}