section.sticky-footer-module {
	width: 100%;
	background-color: #f7f7f7;
	position: static;
    bottom: -1px;
    z-index: 999;
    padding: 14px 0;
    box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.1);
    min-height: 70px;
    .container {
    	position: relative;
		.button-container {
			display: flex;
			justify-content: center;
			align-items: center;
			> span {
				margin: 0 14px;
			}
		}
		.close {
			position: absolute;
			background-image: url('//cdn2.hubspot.net/hubfs/685080/IMG-TurboSodium/Sodium%20v2/Products%20Page/close.png');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			//border: 1px solid;
			//border-radius: 50%;
			top: 0;
			right: 0;
			width: 14px;
			height: 14px;
			//box-shadow: 1px -1px rgba(0,0,0,0.6);
			//background-color: black;
			&:hover {
				cursor: pointer;
			}
		}
	}
	@media (max-width: 767px) {
//		visibility: hidden;
//    	z-index: -1;
	}
}